@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@412&display=swap');

html {
  font-size: 10px;
  background: url('drumkit.jpg') bottom center; 
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 100%; */
  /* width: 100%; */
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-family: 'Lemonada', cursive;
  text-align: center;
  color: white;
  font-size: 10rem;
  text-transform: uppercase;
  /* margin: 0; */
  /* padding-top: 175px; */
  /* padding-bottom: 25px; */
  /* display: inline-block; */
  height: 1vh;
  justify-content: center;
  /* margin-bottom: 5rem; */
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #88ff27;
  box-shadow: 0 0 1rem #00ff00;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #01ffd5;
}
